extends layout

block content
  a(href="/dashboard/list/create") Create List
  div.lists-container
    if user_lists.length===0
      p User has no lists
    else
      each list in user_lists
        div.list-container
          p #{list.name}
          a(href=`/dashboard/list/${list.id}/delete`)
            img(src="/images/remove-button.png" alt="Delete List")
          a(href=`/dashboard/list/${list.id}/edit`) Edit
          a(href=list.url)
            img(src="/images/next.png" alt="Select List")
    
  