extends layout

block content
  div.form-container
    strong
      p=page_title
    form(method='POST' action='')
      p For List: #{list.name}
      label(for='name') Item Name:
      input#name.form-control(type='text' name='name' value=(undefined===item ? '' : item.name))
      button.btn.btn-primary(type='submit') Submit
    a(href=list.url)
      button Cancel
    if errors
      ul.errors
        for error in errors
          li!= error.msg