doctype html
html
  head
    title=title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://accounts.google.com/gsi/client" async defer)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      div.header-container
        a(href="/dashboard")
          div GROCERY LIST
        .google-container
          if user === undefined
            a.google-a(href="/auth/google")
              button(type="button" class="login-with-google-btn") Google Sign In
          else
            div.logged-in
              img(src=user.image alt="user photo")
              div=user.firstName
            a.logout(href="/auth/logout") Log Out
          
    div.main
      block content
    footer.footer
      div JOEMATTAR
      a(href="https://github.com/joemattar" target="_blank" rel="noreferrer")
        img(src="/images/github_logo_white.png" alt="Github Logo")
