extends layout

block content
  p Create or Update List

  form(method='POST' action='')
    div.form-group
      label(for='name') List Name:
      input#name.form-control(type='text' name='name' value=(undefined===list ? '' : list.name))
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg